.cards {
  /* width: 100%; */
  /* max-width: 260px; */
  transition: transhtmlForm 0.1s;
  cursor: pointer;
}

.cards-img {
  width: 100%;

  height: 180px;
  object-fit: cover;
  object-position: 50% 50%;
}
.cards-dish {
  width: 100%;
  height: 180px;
}

.cards:hover {
  transform: scale(0.95);
}

.card-img-overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1)
  );
  top: 79%;

  /* bottom: 50px !important; */
}

.textflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-button {
  display: flex;
  border: 3px solid white;
  box-shadow: 0 0 0 1px #1e1d1c;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}

.input-button:checked {
  --bs-htmlForm-check-bg-image: none !important;
  background-color: #f15700;
  box-shadow: 0 0 0 1px #f15700;
  border-color: none !important;
}

/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px !important;
} */

.searchbar div div {
  border-radius: 30px !important;
}

#second,
#third,
#fourth,
.filter-radio {
  display: none;
}
/* #first-check:checked #first {
  display: block;
} */
