.cards {
  /* width: 100%; */
  /* max-width: 260px; */
  transition: transhtmlForm 0.1s;
  cursor: pointer;
}

.cards-img {
  width: 100%;

  height: 180px;
  object-fit: cover;
  object-position: 50% 50%;
}
.cards-dish {
  width: 100%;
  height: 180px;
}

.cards:hover {
  transform: scale(0.95);
}

.card-img-overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1)
  );
  top: 79%;

  /* bottom: 50px !important; */
}

.textflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-button {
  display: flex;
  border: 3px solid white;
  box-shadow: 0 0 0 1px #1e1d1c;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transition: all ease-in 0.2s;
}

.input-button:checked {
  --bs-htmlForm-check-bg-image: none !important;
  background-color: #f15700;
  box-shadow: 0 0 0 1px #f15700;
  border-color: none !important;
}

/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 30px !important;
} */

.searchbar div div {
  border-radius: 30px !important;
}
.searchbar div div {
  border-radius: 30px !important;
}

#second,
#third,
#fourth,
.filter-radio {
  display: none;
}
/* #first-check:checked #first {
  display: block;
} */

li:hover {
  color: #ffffff;
  background-color: rgba(76, 74, 74, 0.996);
  border-radius: 6px;
}

.form-check-input:checked {
  background-color: #f15700;
}

/*
.filter:active {
  background-color: #f15700;
} */

/* .modal-content {
  max-height: 50vh !important;
} */

#VEG {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  background-color: #d9dadb;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  outline: none;
}
#NONVEG {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  background-color: #d9dadb;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  outline: none;
}

#VEG:checked {
  background-color: #1ba672;
}
#NONVEG:checked {
  background-color: #e43b4f;
}

#VEG::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;
  transform: scale(2);
  top: 10%;
  left: 0%;
  border-radius: 20%;
  border: 2px solid #1ba672;
  /* border-color: green; */
  background-color: white;
}
#NONVEG::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;
  transform: scale(2);
  top: 10%;
  left: 0%;
  border-radius: 20%;
  border: 2px solid #e43b4f;
  /* border-color: green; */
  background-color: white;
}
#VEG::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 35%;
  left: 10%;
  border-radius: 50%;
  /* transform: translate(-25%, -50%); */
  transform: scale(2);
  background-color: #1ba672;
}
#NONVEG::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: 35%;
  left: 9%;
  border-radius: 50%;
  /* transform: translate(-25%, -50%); */
  transform: scale(2);
  background-color: #e43b4f;
}

#VEG:checked::before {
  right: 0%;
  left: auto;
}
#NONVEG:checked::before {
  right: 0%;
  left: auto;
}
#VEG:checked::after {
  left: auto;
  right: 8%;
}
#NONVEG:checked::after {
  left: auto;
  right: 8%;
}
